In [74]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', user = 'root', password = 'Mysql123#')

    query = 'SHOW DATABASES'
    cursor = mydb.cursor()
    cursor.execute(query)

    print(cursor.fetchall())

except Exception as e:
    print(str(e))

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

[('amazon',), ('coffee_store',), ('information_schema',), ('laptop',), ('mysql',), ('performance_schema',), ('python',), ('student',), ('sys',), ('test',)]

In [75]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', user = 'root', password = 'Mysql123#')

    query = 'CREATE DATABASE LAPTOP'
    cursor = mydb.cursor()
    cursor.execute(query)

except Exception as e:
    print(str(e))

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()
        print('my db is closed')

1007 (HY000): Can't create database 'laptop'; database exists
my db is closed

In [76]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', user = 'root', password = 'Mysql123#')

    query = 'SHOW DATABASES'
    cursor = mydb.cursor()
    cursor.execute(query)

    print(cursor.fetchall())

except Exception as e:
    print(str(e))

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

[('amazon',), ('coffee_store',), ('information_schema',), ('laptop',), ('mysql',), ('performance_schema',), ('python',), ('student',), ('sys',), ('test',)]

In [77]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', database = 'LAPTOP', user = 'root', password = 'Mysql123#')

    query = 'CREATE TABLE LAPTOP_DETAILS(ID INT(10) AUTO_INCREMENT NOT NULL, NAME VARCHAR(20) NOT NULL, PRICE INT(10) NOT NULL, PURCHASED_DATE DATE NOT NULL, PRIMARY KEY(ID))'

    cursor = mydb.cursor()
    cursor.execute(query)
    print('Table created')
    
except Exception as e:
    print(str(e))

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()
        print('my db is closed')

1050 (42S01): Table 'laptop_details' already exists
my db is closed

In [78]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', database = 'LAPTOP', user = 'root', password = 'Mysql123#')

    query = 'SHOW TABLES'

    cursor = mydb.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
        
except Exception as e:
    print(str(e))

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()
        print('my db is closed')

('laptop_details',)
my db is closed

In [79]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', database = 'LAPTOP', user = 'root', password = 'Mysql123#',use_pure=True)

    insert_query = "insert into LAPTOP_DETAILS (id, name, price, purchased_date) values (%s, %s, %s, %s)"
    
    records_to_insert = [('1', 'Lenovo Thinkpad', '6459', '2019-08-14'),
                         ('2', 'Area 51M', '6999', '2019-04-14'),
                         ('3', 'MacBook Pro', '2499', '2019-06-20'),
                         ('4', 'HP Pavilion Power', '1999', '2019-01-11'),
                         ('5', 'MSI WS75 9TL-496', '5799', '2019-02-27'),
                         ('6', 'Microsoft Surface', '2330', '2019-07-23')]

    cursor = mydb.cursor()
    cursor.executemany(insert_query,records_to_insert)
    mydb.commit()
    for result in cursor.fetchall():
        print(result)
    
    print(cursor.rowcount, "Record inserted successfully into Laptop table")

    print(cursor.fetchall())

except Exception as e:
    print(str(e))

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()

1062 (23000): Duplicate entry '1' for key 'laptop_details.PRIMARY'

In [80]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = 'localhost', database = 'LAPTOP', user = 'root', password = 'Mysql123#')

    query = 'SELECT * FROM LAPTOP_DETAILS'

    cursor = mydb.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

    print('                         ')

    query = "SELECT * FROM LAPTOP_DETAILS WHERE id=3"

    cursor = mydb.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)

   
except Exception as e:
    print(str(e))

finally:
    if mydb.is_connected():
        cursor.close()
        mydb.close()
        print('my db is closed')

(1, 'Lenovo Thinkpad', 6459, datetime.date(2019, 8, 14))
(2, 'Area 51M', 6999, datetime.date(2019, 4, 14))
(3, 'MacBook Pro', 2499, datetime.date(2019, 6, 20))
(4, 'HP Pavilion Power', 1999, datetime.date(2019, 1, 11))
(5, 'MSI WS75 9TL-496', 5799, datetime.date(2019, 2, 27))
(6, 'Microsoft Surface', 2330, datetime.date(2019, 7, 23))

(3, 'MacBook Pro', 2499, datetime.date(2019, 6, 20))
my db is closed