### Python Basics

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5/2

2.5

In [5]:
# Floor Division 
5//2

2

In [6]:
# type function returns the type of the object
type(4/2)

float

In [7]:
a=10
b=20
c=a+b

In [8]:
c

30

In [9]:
type(c)

int

In [10]:
# Here Rohan is a string type.So, it will return string
type('Rohan')

str

### Boolean values

In [11]:
True

True

In [12]:
False

False

In [13]:
True or False

True

In [14]:
True and False

False

In [15]:
type(True)

bool

In [16]:
a=10
b=20
a+b>30 | a-b<10

True

### Strings

In [17]:
message='Rohan is very talented person'
message

'Rohan is very talented person'

In [18]:
str(1)

'1'

In [19]:
str1="A good boy"
str2="A bad boy"

In [20]:
print(str1)
print(str2)

A good boy
A bad boy

In [21]:
str1 + " " + str2

'A good boy A bad boy'

In [22]:
name = input("Enter your name : ")

Enter your name : John

In [23]:
### add 2 numbers
a=int(input("Enter number 1: ")) ### input always treats values as strings
b=int(input("Enter number 2: "))
c=a+b
print("Output is ",c)

Enter number 1: 23
Enter number 2: 12
Output is  35

In [24]:
### string formatting
first_name=input("what is your first name: ")
last_name=input("what is your last name: ")
print("My first name is {} and last name is {}".format(first_name,last_name))

what is your first name: Tony
what is your last name: Stark
My first name is Tony and last name is Stark

In [25]:
name = "Foo"
age = 12
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Foo and I'm 12 years old.

In [26]:
### Strong Typing
"Mohan" + 1

TypeError: can only concatenate str (not "int") to str

In [27]:
"Mohan" + str(1)

'Mohan1'

In [28]:
1 +"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
1 + int("2")

3

In [30]:
### conditional Statements 
## if and elif
a=int(input("Enter the number 1: "))
b=int(input("Enter the number 2: "))
c=a-b

if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")    
else:
    print("The number is positive")

Enter the number 1: 10
Enter the number 2: 20
The number is negative

### Data Structures
1. List
2. Tuple
3. String
4. Dictionary
5. Sets

In [31]:
lst=[1,2,3,'Hello','World']

In [32]:
lst[3]

'Hello'

In [33]:
type(lst)

list

In [34]:
lst.append(4)

In [35]:
lst

[1, 2, 3, 'Hello', 'World', 4]

In [36]:
lst.append('Python')
lst.append('ML')

In [37]:
lst

[1, 2, 3, 'Hello', 'World', 4, 'Python', 'ML']

In [42]:
lst.pop(7)

IndexError: pop index out of range

In [43]:
lst

[1, 2, 3, 'Hello', 'World', 4, 'Python']

In [44]:
lst.count(2)

1

In [45]:
## Indexing (Strings are immutable)
str1='United'
str1='States'
str1

'States'

## Loops

In [1]:
lst=[9,8,3,4,5,2]
len(lst)

6

In [3]:
## sum of all the elements in the list
##for loop
sum1=0
for i in lst:
    sum1=sum1+i;
print(sum1)

31

In [7]:
%%time
lst1=[1,3,4,6,7,8,9,2,3,4,5]
even_sum=0
odd_sum=0
for i in lst1:
    if (i%2==0):
        even_sum=even_sum+i;
    else:
        odd_sum=odd_sum+i;
print("Odd sum is :",odd_sum)
print("even sum is :",even_sum)

Odd sum is : 28
even sum is : 24
Wall time: 0 ns

#### for loop with else

In [11]:
lst=[1,2,3,4,5,6,7,8]
even_sum=0
odd_sum=0
for i in lst:
    if (i%2==0):
        even_sum+=i
        if(even_sum>20):
            break
    else:
        odd_sum+=i
        if odd_sum>20:
            break
else:
    print(even_sum)
    print(odd_sum)

20
16

### while loop

In [16]:
### sum of n elements 
n=10
i=1
sum=0
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

55

In [19]:
### even sum and odd sum in while loop
n=10
i=1
even_sum=0
odd_sum=0
while i<=n:
    if (i%2==0):
        even_sum+=i
    else:
        odd_sum+=i
    i=i+1

print("even sum : ",even_sum)
print("odd sum : ",odd_sum)

even sum :  30
odd sum :  25

### range() function

In [20]:
range(10)

range(0, 10)

In [21]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
list(range(0,100,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [30]:
list(range(100,0,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [34]:
for i in range(0,10,4):
    print(i)

0
4
8

In [36]:
for val in "string":
    if val=='i':
        break
    print(val)

s
t
r

In [37]:
for val in "string":
    if val=='i':
        continue
    print(val)

s
t
r
n
g