## List Comprehension

In [1]:
lst= [1,2,3,4,'Hello'] 
type(lst)

list

In [2]:
lst

[1, 2, 3, 4, 'Hello']

In [5]:
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)

print(lst1)

[1, 4, 9, 16]

In [6]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [9]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=[i for i in lst if i%2==0]

In [10]:
lst1

[2, 4, 6, 8, 10]

# Tuples

In [13]:
type(tuple([1,2,3,4]))

tuple

In [15]:
t=tuple([1,2,3,'Hello'])

In [16]:
t

(1, 2, 3, 'Hello')

In [17]:
t=(1,2,3,2,4,5,1)
t.count(1)

2

In [18]:
t.index(1)

0

# Sets

In [21]:
tuple=(1,2,3)
tuple

(1, 2, 3)

In [24]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [26]:
## it will give unique elements
{1,2,3,4,6,4,2,8,1}

{1, 2, 3, 4, 6, 8}

In [27]:
## empty curly braces will represent dictionary
type({})

dict

In [28]:
## if i give a number inside curly braces , it will become a set
type({1})

set

In [29]:
x=set()

In [30]:
x

set()

In [31]:
x1={1,2,3,4,5}
x2={2,3,4,5,6,7}

In [32]:
x1.add(6)

In [33]:
x1

{1, 2, 3, 4, 5, 6}

In [34]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [36]:
x1.intersection_update(x2)

In [37]:
x1

{2, 3, 4, 5, 6}

In [38]:
x1.difference(x2)

set()

In [40]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Dictionary

In [41]:
type({})

dict

In [42]:
dict={1:"hello",2:"Python",3:"Universe"}

In [43]:
dict

{1: 'hello', 2: 'Python', 3: 'Universe'}

In [44]:
type(dict)

dict

In [45]:
dict.items()

dict_items([(1, 'hello'), (2, 'Python'), (3, 'Universe')])

In [46]:
dict.keys()

dict_keys([1, 2, 3])

In [47]:
dict.values()

dict_values(['hello', 'Python', 'Universe'])

In [51]:
### indexing :- convert the dictionary to list and then do indexing
list(dict.keys())[0]

1

In [52]:
dict.get(2)

'Python'

In [53]:
dict[1]

'hello'

In [54]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [55]:
my_dict['key2']

[12, 23, 33]

In [56]:
my_dict['key2'][2]

33

In [57]:
my_dict['key3'][2]

'item2'

## Nested dictionary

In [58]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [59]:
d['key1']

{'nestkey': {'subnestkey': 'value'}}

In [61]:
d['key1']['nestkey']['subnestkey']

'value'

## Dictionary Comprehension

In [62]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}